In [14]:
import os
project_folder = 'D:\Jakkaf1rst\Final_Datasci'

<>:2: SyntaxWarning: invalid escape sequence '\J'
<>:2: SyntaxWarning: invalid escape sequence '\J'
C:\Users\user\AppData\Local\Temp\ipykernel_32540\348495626.py:2: SyntaxWarning: invalid escape sequence '\J'
  project_folder = 'D:\Jakkaf1rst\Final_Datasci'

In [15]:
os.chdir(project_folder)

In [16]:
import pandas as pd

file_path = 'balanced_metadata.csv'
df = pd.read_csv(file_path)
df.head()

,filename,text,age,gender,accent
0,cv-valid-train/sample-000005.mp3,a shepherd may like to travel but he should ne...,twenties,female,us
1,cv-valid-train/sample-000008.mp3,put jackie right on the staff,seventies,male,us
2,cv-valid-train/sample-000013.mp3,but he had found a guide and didn't want to mi...,thirties,female,us
3,cv-valid-train/sample-000023.mp3,i had seen all that it would presently bring me,thirties,male,us
4,cv-valid-train/sample-000034.mp3,i have had the same dream twice he said,fourties,female,us

In [17]:
df.shape

(26362, 5)

##Add Thai Data In  Dataframe

In [18]:
thai_sound = 'file_data_science_final.csv'
df_thai = pd.read_csv(thai_sound)
df_thai.head()

                      filename                   text  age  gender    accent
0  cv-valid-train/01_Pukao.mp3             I love cat   22  female  Thailand
1  cv-valid-train/02_Pukao.mp3             I love dog   19    male  Thailand
2  cv-valid-train/03_Pukao.mp3        I play football   21  female  Thailand
3  cv-valid-train/04_Pukao.mp3  nice to see you again   25  female  Thailand
4  cv-valid-train/05_Pukao.mp3    where have you been   23  female  Thailand

<h1>‡πÅ‡∏õ‡∏•‡∏á Age ‡∏à‡∏≤‡∏Å‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡∏´‡∏ô‡∏±‡∏á‡∏™‡∏∑‡∏≠

In [19]:
def age_to_group(age):
    if pd.isnull(age):
        return None
    elif 10 <= age < 20:
        return 'teens'
    elif 20 <= age < 30:
        return 'twenties'
    elif 30 <= age < 40:
        return 'thirties'
    elif 40 <= age < 50:
        return 'fourties'
    elif 50 <= age < 60:
        return 'fifties'
    elif 60 <= age < 70:
        return 'sixties'
    elif 70 <= age < 80:
        return 'seventies'
    elif 80 <= age < 90:
        return 'eighties'
    else:
        return 'other'

# ‡πÉ‡∏ä‡πâ‡∏ü‡∏±‡∏á‡∏Å‡πå‡∏ä‡∏±‡∏ô‡∏Å‡∏±‡∏ö‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå age
df_thai['age'] = df_thai['age'].apply(age_to_group)
df_thai

,filename,text,age,gender,accent
0,cv-valid-train/01_Pukao.mp3,I love cat,twenties,female,Thailand
1,cv-valid-train/02_Pukao.mp3,I love dog,teens,male,Thailand
2,cv-valid-train/03_Pukao.mp3,I play football,twenties,female,Thailand
3,cv-valid-train/04_Pukao.mp3,nice to see you again,twenties,female,Thailand
4,cv-valid-train/05_Pukao.mp3,where have you been,twenties,female,Thailand
...,...,...,...,...,...
149,cv-valid-train/48_Japan.mp3,you flirting with me,twenties,male,Thailand
150,cv-valid-train/49_Japan.mp3,i love your energy,twenties,male,Thailand
151,cv-valid-train/50_Japan.mp3,can i take you out,twenties,male,Thailand
152,cv-valid-train/51_Japan.mp3,i think we click,twenties,male,Thailand
153,cv-valid-train/52_Japan.mp3,not much going on today,twenties,male,Thailand

<h1>Combind CSV File

In [20]:
df= pd.concat([df, df_thai], ignore_index=True)
print(df.shape)

(26516, 5)

<h1>Test2

In [21]:
import librosa
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm  # ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡πÅ‡∏™‡∏î‡∏á progress bar

In [22]:

# ‡πÄ‡∏ï‡∏£‡∏µ‡∏¢‡∏° list ‡πÄ‡∏Å‡πá‡∏ö feature ‡πÅ‡∏•‡∏∞ label
mfcc_features = []
labels = []

# ‡πÉ‡∏ä‡πâ tqdm ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÅ‡∏™‡∏î‡∏á progress
for idx, row in tqdm(df.iterrows(), total=len(df)):
    file_path = row['filename']
    accent_label = row['accent']
    try:
        # ‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏™‡∏µ‡∏¢‡∏á‡πÄ‡∏õ‡πá‡∏ô MFCC ‡πÅ‡∏•‡πâ‡∏ß‡πÄ‡∏Å‡πá‡∏ö‡∏Ñ‡πà‡∏≤‡πÄ‡∏â‡∏•‡∏µ‡πà‡∏¢
        y, sr = librosa.load(file_path, sr=None)
        mfcc = librosa.feature.mfcc(y=y, sr=sr, n_mfcc=13)
        mfcc_mean = np.mean(mfcc.T, axis=0)

        mfcc_features.append(mfcc_mean)
        labels.append(accent_label)
    except Exception as e:
        print(f"Error processing {file_path}: {e}")

# ‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô array
X = np.array(mfcc_features)
le = LabelEncoder()
y = le.fit_transform(labels)

# ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö shape
print("X shape:", X.shape)
print("y shape:", y.shape)
print("Classes:", le.classes_)

# üîΩ ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å X ‡πÅ‡∏•‡∏∞ y ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡∏ï‡πà‡∏≠
np.save('X_mfcc.npy', X)
np.save('y_labels.npy', y)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 26516/26516 [18:03<00:00, 24.46it/s]

X shape: (26516, 13)
y shape: (26516,)
Classes: ['Thailand' 'african' 'australia' 'bermuda' 'canada' 'england' 'hongkong'
 'indian' 'ireland' 'malaysia' 'newzealand' 'philippines' 'scotland'
 'singapore' 'southatlandtic' 'us' 'wales']

In [23]:
X = np.load('X_mfcc.npy')
y = np.load('y_labels.npy')

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred, target_names=le.classes_))

                precision    recall  f1-score   support

      Thailand       1.00      0.48      0.65        23
       african       0.93      0.63      0.75       213
     australia       0.69      0.80      0.74       803
       bermuda       1.00      0.57      0.72        30
        canada       0.72      0.73      0.72       752
       england       0.59      0.66      0.63       794
      hongkong       1.00      0.52      0.69        21
        indian       0.64      0.81      0.72       899
       ireland       0.90      0.60      0.72       185
      malaysia       1.00      0.45      0.62        38
    newzealand       0.92      0.74      0.82       229
   philippines       0.93      0.39      0.55        69
      scotland       0.93      0.69      0.79       331
     singapore       1.00      0.47      0.64        30
southatlandtic       0.83      0.28      0.42        18
            us       0.57      0.53      0.55       818
         wales       0.96      0.51      0.67        51

      accuracy                           0.69      5304
     macro avg       0.86      0.58      0.67      5304
  weighted avg       0.71      0.69      0.69      5304

In [26]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical

# ‡πÅ‡∏ö‡πà‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# One-hot encoding labels (‡πÄ‡∏û‡∏£‡∏≤‡∏∞‡πÄ‡∏õ‡πá‡∏ô multi-class classification)
num_classes = len(np.unique(y))
y_train_cat = to_categorical(y_train, num_classes)
y_test_cat = to_categorical(y_test, num_classes)

##Test

In [ ]:
import pandas as pd
import librosa
import numpy as np
import os

base_path = 'cv-valid-train'

features_audio = []
features_text = []
features_age = []
features_gender = []
labels = []

for idx, row in df.iterrows():
    file_path = row['filename']

    try:
        y, sr = librosa.load(file_path, sr=16000)
        y = y[:3*sr] if len(y) > 3*sr else np.pad(y, (0, 3*sr - len(y)))

        mfcc = librosa.feature.mfcc(y=y, sr=sr, n_mfcc=13).T
        mfcc_flat = mfcc.flatten()
        features_audio.append(mfcc_flat)

        features_text.append(row['text'])
        features_age.append(row['age'])
        features_gender.append(row['gender'])
        labels.append(row['accent'])

    except Exception as e:
        print(f"‚ùå Error processing {file_path}: {e}")

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer

# ‡∏Ç‡πâ‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏õ‡πá‡∏ô TF-IDF
vectorizer = TfidfVectorizer(max_features=100)
X_text = vectorizer.fit_transform(features_text).toarray()

# ‡πÅ‡∏õ‡∏•‡∏á‡∏≠‡∏≤‡∏¢‡∏∏‡πÅ‡∏•‡∏∞‡πÄ‡∏û‡∏®‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç
le_age = LabelEncoder()
X_age = le_age.fit_transform(features_age).reshape(-1, 1)

le_gender = LabelEncoder()
X_gender = le_gender.fit_transform(features_gender).reshape(-1, 1)

# ‡πÅ‡∏õ‡∏•‡∏á label ‡∏™‡∏≥‡πÄ‡∏ô‡∏µ‡∏¢‡∏á
le_label = LabelEncoder()
y = le_label.fit_transform(labels)

from sklearn.preprocessing import StandardScaler

X_audio = np.array(features_audio)
scaler = StandardScaler()
X_audio_scaled = scaler.fit_transform(X_audio)

# ‡∏£‡∏ß‡∏°: ‡πÄ‡∏™‡∏µ‡∏¢‡∏á + ‡∏≠‡∏≤‡∏¢‡∏∏ + ‡πÄ‡∏û‡∏® + ‡∏Ç‡πâ‡∏≠‡∏Ñ‡∏ß‡∏≤‡∏°
X_full = np.hstack([X_audio_scaled, X_age, X_gender, X_text])
print("Shape of input:", X_full.shape)

Shape of input: (26516, 1324)

In [ ]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import classification_report

# X_train, X_test, y_train, y_test = train_test_split(X_full, y, test_size=0.2, random_state=42)

# model = RandomForestClassifier(n_estimators=100, random_state=42)
# model.fit(X_train, y_train)

# y_pred = model.predict(X_test)
# print(classification_report(y_test, y_pred, target_names=le_label.classes_))

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import (
    RandomForestClassifier, GradientBoostingClassifier
)
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

# OPTIONAL: ‡∏ñ‡πâ‡∏≤‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏ä‡πâ XGBoost
try:
    from xgboost import XGBClassifier
    has_xgb = True
except ImportError:
    has_xgb = False

# ‡πÅ‡∏ö‡πà‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
X_train, X_test, y_train, y_test = train_test_split(X_full, y, test_size=0.2, random_state=42)

# ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡πÇ‡∏°‡πÄ‡∏î‡∏• (‡πÄ‡∏û‡∏¥‡πà‡∏° n_jobs=-1 ‡∏Å‡∏±‡∏ö‡πÇ‡∏°‡πÄ‡∏î‡∏•‡∏ó‡∏µ‡πà‡∏£‡∏≠‡∏á‡∏£‡∏±‡∏ö)
models = {
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "KNN": KNeighborsClassifier(n_jobs=-1),
    "SVM": SVC(),  # ‡πÑ‡∏°‡πà‡∏£‡∏≠‡∏á‡∏£‡∏±‡∏ö n_jobs
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(n_estimators=100, n_jobs=-1),
    "Gradient Boosting": GradientBoostingClassifier(),
    "Naive Bayes": GaussianNB()
}

# ‡πÉ‡∏ä‡πâ GPU ‡∏Å‡∏±‡∏ö XGBoost ‡∏ñ‡πâ‡∏≤‡∏°‡∏µ
if has_xgb:
    models["XGBoost"] = XGBClassifier(
        use_label_encoder=False,
        eval_metric='mlogloss',
        tree_method='gpu_hist',        # ‡πÉ‡∏ä‡πâ GPU
        predictor='gpu_predictor'
    )

# ‡πÄ‡∏ó‡∏£‡∏ô‡πÅ‡∏•‡∏∞‡∏õ‡∏£‡∏∞‡πÄ‡∏°‡∏¥‡∏ô‡∏ú‡∏•‡∏ó‡∏∏‡∏Å‡∏£‡∏∏‡πà‡∏ô
for name, model in models.items():
    print(f"\nüîé Training model: {name}")
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    print("‚úÖ Accuracy:", accuracy_score(y_test, y_pred))
    print("üìä Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
    print("üìÑ Classification Report:\n", classification_report(y_test, y_pred, target_names=le_label.classes_))

üîé Training model: Logistic Regression
‚úÖ Accuracy: 0.3401206636500754
üìä Confusion Matrix:
 [[ 10   0   1   0   3   1   0   5   0   0   0   0   1   0   0   2   0]
 [  0  45  24   0  23  27   0  31   9   3   5   7   6   0   0  30   3]
 [  2  19 339   2  76 114   2  61  27   3  34   3  30   1   0  87   3]
 [  0   0   1   8   8   4   0   5   1   0   0   0   0   0   0   3   0]
 [  2  38  99   3 231  85   1  88  10   6  22  13  28   0   2 118   6]
 [  4  24 118  11  77 203   3  94  31   5  35   7  63   1   0 107  11]
 [  0   2   5   0   1   3   4   5   0   0   0   0   0   0   0   0   1]
 [  2  23  44  12  80  61   0 498  15   9  20  22  17   3   2  82   9]
 [  0   8  17   0  14  31   1  10  69   0   2   2   7   0   0  23   1]
 [  0   1   5   0   1   5   0   9   0  11   0   1   0   0   1   4   0]
 [  0   6  30   1  15  35   0   6   7   2  79   4  18   3   0  21   2]
 [  0   0   2   1  19   6   0  15   3   2   2  11   0   0   0   6   2]
 [  1   5  32   2  24  60   0  26   5   2   9   3 105   1   1  46   9]
 [  1   1   2   1   1   2   0   8   2   0   0   4   2   3   0   3   0]
 [  0   1   0   0   0   4   0   4   0   0   1   0   1   0   6   1   0]
 [  8  29 108   7 115 132   5 133  26   5  23   7  34   4   2 166  14]
 [  0   0   6   0   6  11   0   2   1   0   1   0   3   0   0   5  16]]
üìÑ Classification Report:
                 precision    recall  f1-score   support

      Thailand       0.33      0.43      0.38        23
       african       0.22      0.21      0.22       213
     australia       0.41      0.42      0.41       803
       bermuda       0.17      0.27      0.21        30
        canada       0.33      0.31      0.32       752
       england       0.26      0.26      0.26       794
      hongkong       0.25      0.19      0.22        21
        indian       0.50      0.55      0.52       899
       ireland       0.33      0.37      0.35       185
      malaysia       0.23      0.29      0.26        38
    newzealand       0.34      0.34      0.34       229
   philippines       0.13      0.16      0.14        69
      scotland       0.33      0.32      0.33       331
     singapore       0.19      0.10      0.13        30
southatlandtic       0.43      0.33      0.38        18
            us       0.24      0.20      0.22       818
         wales       0.21      0.31      0.25        51

      accuracy                           0.34      5304
     macro avg       0.29      0.30      0.29      5304
  weighted avg       0.34      0.34      0.34      5304


üîé Training model: KNN

  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
        "wmic CPU Get NumberOfCores /Format:csv".split(),
        capture_output=True,
        text=True,
    )
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\subprocess.py", line 554, in run
    with Popen(*popenargs, **kwargs) as process:
         ~~~~~^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\subprocess.py", line 1039, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
    ~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                        pass_fds, cwd, env,
                        ^^^^^^^^^^^^^^^^^^^
    ...<5 lines>...
                        gid, gids, uid, umask,
                        ^^^^^^^^^^^^^^^^^^^^^^
                        start_new_session, process_group)
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\user\AppData\Local\Programs\Python\Python313\Lib\subprocess.py", line 1551, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^
                             # no special security
                             ^^^^^^^^^^^^^^^^^^^^^
    ...<4 lines>...
                             cwd,
                             ^^^^
                             startupinfo)
                             ^^^^^^^^^^^^

‚úÖ Accuracy: 0.4145927601809955
üìä Confusion Matrix:
 [[ 15   0   1   0   0   2   0   5   0   0   0   0   0   0   0   0   0]
 [  2  78  45   0   2  26   0  40   3   0   0   4   6   0   0   7   0]
 [  1   9 465   0  23 111   0 104   2   0   2   8  16   0   6  55   1]
 [  0   0   4   8   0   1   0  15   0   0   0   0   1   0   0   1   0]
 [  4   9 124   1 278  94   0 127   3   2   2  15  33   0   7  52   1]
 [  8   3 135   0  25 376   0 142   2   0   3  15  37   0   3  42   3]
 [  1   0   6   0   0   5   3   3   0   0   0   0   2   0   0   1   0]
 [  3   8 123   0  42 110   1 475  10   0   2  25  33   1   3  61   2]
 [  0   2  29   0  10  36   0  28  62   0   0   5   9   0   0   4   0]
 [  0   0   7   0   1   3   0   1   0  18   0   0   0   0   2   6   0]
 [  0   4  31   0  19  24   0  48   3   0  68   0  15   0   0  17   0]
 [  1   1  12   0   1   6   0  17   0   0   0  22   9   0   0   0   0]
 [  0   2  48   0  10  47   0  51   0   0   0   8 151   0   1  13   0]
 [  0   0   8   0   1   3   0   6   0   0   0   2   0   9   0   1   0]
 [  0   0   1   0   0   1   0   4   0   0   0   0   0   0  10   2   0]
 [  9  12 128   0  53 150   0 231   6   1   2  25  45   0  13 141   2]
 [  1   1   4   0   1   6   0  10   0   0   0   0   3   0   0   5  20]]
üìÑ Classification Report:
                 precision    recall  f1-score   support

      Thailand       0.33      0.65      0.44        23
       african       0.60      0.37      0.46       213
     australia       0.40      0.58      0.47       803
       bermuda       0.89      0.27      0.41        30
        canada       0.60      0.37      0.46       752
       england       0.38      0.47      0.42       794
      hongkong       0.75      0.14      0.24        21
        indian       0.36      0.53      0.43       899
       ireland       0.68      0.34      0.45       185
      malaysia       0.86      0.47      0.61        38
    newzealand       0.86      0.30      0.44       229
   philippines       0.17      0.32      0.22        69
      scotland       0.42      0.46      0.44       331
     singapore       0.90      0.30      0.45        30
southatlandtic       0.22      0.56      0.32        18
            us       0.35      0.17      0.23       818
         wales       0.69      0.39      0.50        51

      accuracy                           0.41      5304
     macro avg       0.56      0.39      0.41      5304
  weighted avg       0.46      0.41      0.41      5304


üîé Training model: SVM

In [ ]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.svm import SVC
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import (
#     RandomForestClassifier, GradientBoostingClassifier
# )
# from sklearn.naive_bayes import GaussianNB
# from sklearn.metrics import classification_report
# from sklearn.model_selection import train_test_split
# import warnings
# warnings.filterwarnings('ignore')

# # OPTIONAL: ‡∏ñ‡πâ‡∏≤‡∏≠‡∏¢‡∏≤‡∏Å‡πÉ‡∏ä‡πâ XGBoost
# try:
#     from xgboost import XGBClassifier
#     has_xgb = True
# except ImportError:
#     has_xgb = False

# # ‡πÅ‡∏ö‡πà‡∏á‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•
# X_train, X_test, y_train, y_test = train_test_split(X_full, y, test_size=0.2, random_state=42)

# # ‡∏£‡∏≤‡∏¢‡∏ä‡∏∑‡πà‡∏≠‡πÇ‡∏°‡πÄ‡∏î‡∏•
# models = {
#     "Logistic Regression": LogisticRegression(max_iter=1000),
#     "KNN": KNeighborsClassifier(),
#     "SVM": SVC(),
#     "Decision Tree": DecisionTreeClassifier(),
#     "Random Forest": RandomForestClassifier(n_estimators=100),
#     "Gradient Boosting": GradientBoostingClassifier(),
#     "Naive Bayes": GaussianNB()
# }

# if has_xgb:
#     models["XGBoost"] = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')

# # ‡πÄ‡∏ó‡∏£‡∏ô‡πÅ‡∏•‡∏∞‡∏õ‡∏£‡∏∞‡πÄ‡∏°‡∏¥‡∏ô‡∏ú‡∏•‡∏ó‡∏∏‡∏Å‡∏£‡∏∏‡πà‡∏ô
# for name, model in models.items():
#     print(f"\nüîé Training model: {name}")
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     print(classification_report(y_test, y_pred, target_names=le_label.classes_))

In [ ]:
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

accuracies = {}

for name, model in models.items():
    y_pred = model.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    accuracies[name] = acc

# ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•
plt.figure(figsize=(10, 5))
plt.bar(accuracies.keys(), accuracies.values(), color='skyblue')
plt.ylabel("Accuracy")
plt.title("‡πÄ‡∏õ‡∏£‡∏µ‡∏¢‡∏ö‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡πÅ‡∏°‡πà‡∏ô‡∏¢‡∏≥‡∏Ç‡∏≠‡∏á‡πÅ‡∏ï‡πà‡∏•‡∏∞‡πÇ‡∏°‡πÄ‡∏î‡∏•")
plt.xticks(rotation=45)
plt.grid(axis='y')
plt.tight_layout()
plt.show()

In [ ]:
accent_counts = df["accent"].value_counts()

# ‡πÅ‡∏™‡∏î‡∏á‡∏ú‡∏•
print(accent_counts)